html,
body {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

@font-face {
    font-family: bit;
    src: url(assets/bit.ttf);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: bit;
}

canvas {
    width: 100%;
    height: 100%;
}